.anteriores{
	margin: 40px 10% 100px;
	background-color: white;
	/*border:1px solid #ccc;*/
	padding:0;
	@media (max-width:1280px){
		margin:0;
	}

	div{

	}

	.nav-tabs{
		margin:0;
		padding:0;
		list-style-image: url("assets/images/bullet.png");
		list-style: initial;
		li {
	    float: initial;
	    margin-bottom: -1px;
	    	a{
	    		border-radius:0;
		    		img{
		    			vertical-align: initial;
		    		}
	    		}
	    }	
	}
	.nav-tabs > li > a{
		background-color: #ccc;
		font-size: 20px;
		font-family: 'Open Sans';
		font-weight: 700;
		color:black;
		padding:20px;
	}

	.tab-content > .active {
    background: #eee;
    padding: 10px 50px;

	}

	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #eee;
    border: none;
	}

	.tab-content{
		padding:0;
		h3{
			font-size: 20px;
			text-align: center;
			padding:7px 20px;
			width: 100px;
			margin:30px auto;
			color:black;
			font-weight: 900;
		}

		h3:after{
		    content: "";
		    display: block;
		    height: 3px;
		    width: 20px;
		    background: #CB9500;
		    margin-top: 7px !important;
		    text-align: center;
		    margin: auto;
		    }

		img{
    		width: 100%;
    	}
  		
  		.tab-pane{
			div{
				float: left;
				.subtitle{
					margin:auto;
					width: 100%;
				}
				p{
					text-align: center;
				}
			}
		}
	
	}

}

//Libros//

.titulo2{
	h3{
		width: 230px;
	}
	h1{
		width: 800px;
		@media (max-width:780px){
			width: initial;
		}
	}
}

	.texto2{
		border: 1px solid #ddd;
    	background-color: white;
    	padding: 60px 30px;
    	margin: -100px 17% 100px;
    	text-align: justify;
    	@media (max-width:1400px){
        margin:-100px 10% 100px;
    	}
    	@media (max-width:992px){
        margin:-100px 3% 100px;
    	}
    	@media (max-width:768px){
        margin:-100px 0% 100px;
        border:none;
        padding:20px 0px;
        text-align: left;

    	}
    	p{
    		line-height: 25px;
    		text-align: left;
    		margin-left:0;

    	}
		p:nth-child(1){
			padding: 30px 0 0 !important;

		}

		p:last-child{
			margin-left:0;
			padding: 0px 0 30px;
			text-align: left;
		}
		p:nth-child(1):first-letter{
        font-size: 60px; 
        float: left; 
        margin: 0px 10px 0px 0; 
        line-height: 0.8; 
        color: $ocrelight;
        font-weight: 700;
    	}


		article.libro{
			background-color:#f2f2f2;
			height: 100%;
			float: left;
			padding:0 25px;
			margin-top:-30px;
			div:nth-child(1){
				margin-top: 40px;
			}
			h5{
				text-align: left;
			}
		}

		.bio{
	        border-left:1px solid #ccc;
	        padding-left:30px;
	        font-size: 12px;
	        line-height: 20px;
	        margin-top: 20px;
	        text-align: left;
	        @media (max-width:768px){
	            float: left;
	            margin-top: 40px;

	        }

	        h5{
	        font-size: 15px;
	        margin:0;
	        text-transform: uppercase;
	        color:$ocrelight;
	    	}

    	}

	}







